html{
	height: 100%;}

body{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/tlo.png");
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	margin: 0;
	text-align: center;
	color: #f9f9f9;
	min-height: 100%;
	margin-bottom:-50px;
	position:relative;}

#extra{ 
	height:50px;}

#information{
	padding-top: 12px;
	height: 50px;
	position:absolute;
	bottom:0;	
	width: 100%;
	background-color:#8d8d8d;
	font-size: 16px;
	text-shadow:1px 1px 1px black;
	-webkit-box-shadow: 0px 0px 39px -19px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 39px -19px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 39px -19px rgba(0,0,0,0.75);}

.text-secondary{
	-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);}

.title{
    background-color: #494949;
	-webkit-box-shadow: 0px 15px 33px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 15px 33px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 15px 33px -10px rgba(0,0,0,0.75);}

.title h1{
    letter-spacing: 4px;
	text-shadow:1px 2px 3px black;
	font-size: 44px;}

.title h2{
    letter-spacing: 1px;
	text-shadow:1px 2px 3px black;
	font-size: 26px;}

.text1{
	font-size: 22px;}
.text2{
	font-size: 18px;
	border-bottom: 1px dotted #d9d9d9;}
.text3{
	font-size: 22px;
	color: #0066cc;	
	font-weight: bolder;
	margin: 0;
	padding: 0;}
	
.text4{
	font-size: 30px;
	color: #009900;	
	text-shadow:1px 1px 1px #32CD32;
	font-weight: bolder;}	
.text5{
	font-size: 18px;
	color: #009900;
	font-weight: bolder;}

.tile1a{
	color: #f9f9f9;
	background-color: #0066cc;
	font-size: 25px;
	border-radius: 50px;
	text-shadow:1px 1px 1px black;
	-webkit-box-shadow: 0px 0px 31px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 31px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 31px -12px rgba(0,0,0,0.75);}

.tile1b{
	color: #f9f9f9;
	background-color: #0066cc;
	font-size: 23px;
	border-radius: 50px;
	text-shadow:1px 1px 1px black;
	-webkit-box-shadow: 0px 0px 31px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 31px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 31px -12px rgba(0,0,0,0.75);}

a:hover .tile1a, 
a:hover .tile1b{
	background-color: #DE2828;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);}

a:hover{
	text-decoration: none;}

.fontello{
	font-size: 50px;}

.back{
	position: absolute;
    left: 10px;
    top: 10px;
    display: block;
	color: #e3e3e3;
	text-shadow:1px 1px 1px black;
	text-decoration: none;	
	font-size:30px;}

.back:hover{
	color: #adadad;
	text-shadow:1px 1px 1px black;
	text-decoration: none;}

.menu{
	border-top: 0.5px dashed #757575;
	font-size: 18px;}

.head{
	display: block;
	font-weight: bolder; 
	font-size: 34px;
	color: #f9f9f9; 
	text-shadow:1px 1px 1px black;
	letter-spacing: 2px;
	background-color: #0066cc;}
	
.head2{
	display: block;
	font-weight: bolder; 
	font-size: 28px;
	letter-spacing: 1.5px;
	border-top: 0.5px dashed #dcdcdc;
	color: #0066cc;}

.main0,
.expence0{
	font-size: 20px;}

.buttons{
	border-top: 0.5px dashed #dcdcdc;
}

.button{
	background-color: #DE2828;
	border-radius: 10px;
	color: #f9f9f9;
	font-size: 22px;
	text-shadow:1px 1px 1px black;
	cursor: pointer;
	border: none;
	padding: 5px 10px;}

.button2{
	background-color: #0066cc;
	border-radius: 10px;
	color: #f9f9f9;
	font-size: 22px;
	text-shadow:1px 1px 1px black;
	cursor: pointer;
	border: none;
	padding: 5px 10px;}
	
.button:hover{
	background-color: #CD1717;
	cursor: pointer;}
	
.button2:hover,
a:hover .button2{
	background-color: #0044bb;
	cursor: pointer;
	color: white;}
	
.button:active,
.button2:active{
	outline: none;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);}

.form-control,
.form select,
.form textarea{
	font-size: 18px;
	background-color: #dadada;
	border: 1px solid #7c7c7c;
	border-radius: 10px;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	box-sizing: border-box;}

.form-control:focus,
.form select:focus,
.form textarea:focus{
	border: 10px solid 0066cc;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	outline: none !important;}

.expence2a{
	font-size: 18px;
	display: inline-block !important;
	background-color: grey;
	cursor: pointer;
	border-radius: 20px;
	text-shadow:1px 1px 1px black;
	color: white;}

.expence2a input[type=radio]{
	opacity: 0;}
	
.expence2a:hover{
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);}

.fontello2{
	font-size: 22px;}

.textright{
	display: block !important;
	text-align:right !important;
	font-size:20px;}

