body{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/tlo.png");
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	margin: 0;
   }
   
.title{
    background-color: #494949;
	color: #e3e3e3;	
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 15px 33px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 15px 33px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 15px 33px -10px rgba(0,0,0,0.75);
	text-align: center;
}

.title h1{
	font-size: 55px;
    font-weight: 800;
    letter-spacing: 4px;
	margin: 0;
	text-transform: uppercase;
	text-shadow:1px 2px 3px black;
}


.title h2{
	font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
	margin-top: 17px;
	margin-bottom: 0px;
	text-shadow:1px 2px 3px black;
}

.tile1{
	display: block;
	padding-top: 30px;
	height: 200px;
	width: 300px;
	background-color: #0066cc;
	margin-left:auto;
    margin-right:auto;
	margin-bottom: 60px;
	color: #e3e3e3;
    text-align: center;
	font-size: 30px;
	border-radius: 50px;
	text-shadow:1px 1px 1px black;
	text-decoration: none;
}

.tile1:hover{
	background-color: #DE2828;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}

.fontello{
	display: block;
	font-size: 80px;
	margin-bottom:10px;
}

.information{
	background-color:#8d8d8d;
	color: #f9f9f9;
	text-align: center;
	font-size: 18px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0;
	text-shadow:1px 1px 1px black;
}

.main1{
	margin-left:auto;
    margin-right:auto;
	margin-top: 50px;
	margin-bottom:50px;
	background-color: #0066cc;
	width: 400px;
    text-align: center;
	font-size: 28px;
	padding:30px;
	border-radius: 50px;
	color: #e3e3e3;
	text-shadow:1px 1px 1px black;
	position: relative;
}

.main2{
	height:120px;
}

.main2 input[type=text],
.main2 input[type=password],
.main2 input[type=email]{
	margin-left:auto;
    margin-right:auto;
	margin-top:6px;
	width: 300px;
	display:block;
	box-sizing: border-box; 
	font-size: 25px;
	background-color: #dadada;
	border-radius: 10px;
	padding:5px;
	border: none;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.main2 input[type=text]:focus,
.main2 input[type=password]:focus,
.main2 input[type=email]:focus{
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	background-color: #ffebee;
	border: 2px solid #DE2828;
	outline: none;
	color: #494949;
}

input[type=submit]{
	margin-left:auto;
    margin-right:auto;
	width: 300px;
	display:block;
	margin-bottom:10px;
	margin-top:15px;
	font-size: 30px;
	padding:10px;
	border-radius: 10px;
	background-color: #DE2828;
	color: #e3e3e3;
	text-shadow:1px 1px 1px black;
	border:none;
}

input[type=submit]:hover{
	background-color: #CD1717;
}

input[type=submit]:focus{
	outline: none;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}

.back{
	position: absolute;
    left: 10px;
    top: 10px;
    display: block;
	color: #e3e3e3;
	text-shadow:1px 1px 1px black;
	text-decoration: none;	
	font-size:40px;
}

